<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691475949786-h8eo856cfte18dbmeg0bvg5ft2r6n0e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691475949786-h8eo856cfte18dbmeg0bvg5ft2r6n0e9</string>
	<key>API_KEY</key>
	<string>AIzaSyBuSc0wR-qZl4M-zneTy8krcGISLPp6EzE</string>
	<key>GCM_SENDER_ID</key>
	<string>691475949786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doric.ios</string>
	<key>PROJECT_ID</key>
	<string>reactnative-eb9d5</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnative-eb9d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691475949786:ios:65709b8b1c53504bf25de3</string>
</dict>
</plist>